<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>login</title>
    <style>
        body {
            background-image: url("/background.jpg");
            background-size: cover;
        }

        @media screen and (max-width: 420px) {
            body {
                background-image: url("/12.png");
                background-color: black;
            }
        }

        .modal-content {
            background-color: #f1f1f1;
            margin: 15% auto 35% 35%;
            border: 1px solid #888;
            width: 30%;
            height: 40%;
            padding: 2%;
        }

        @media screen and (max-width: 720px) {
            .modal-content {
                width: 45%;
                height: 42%;
                background-color: #f1f1f1;
                margin: 35% auto 35% 32%;
            }
        }
    </style>
</head>

<body class="contentBody">
    <div class="contentLogin ">

        <div class="login fadeInDown">
            <h2 class="text-center " style="font-size:65px; margin-top: 20px;margin-bottom: 5px;">Login</h2>
            <hr>

            <form onsubmit="return checkLogin()" method="post" action="/reg/login" class="content">
                <div class="formLogin">
                    <div class="row">
                        <div class="col-md-4 " style=" margin-top: 35px; margin-bottom: 15px; padding-left: 5px;">
                            รหัสประจำตัว
                        </div>
                        <div class="col-md-6" style="margin-top: 30px ; padding-right: 10px ;">
                            <input type="text" id="user" class="form-control " name="nameUser" maxlength="8" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 " style="margin-top: 35px; padding-left: 5px;">
                            รหัสผ่าน
                        </div>
                        <div class="col-md-6" style="margin-top: 30px; padding-right: 10px; ">
                            <input type="password" id="pass" class="form-control " name="namePassword" required>
                        </div>
                    </div>

                    <button class="btnLogin" type="submit">Login</button>

                </div>


            </form>

            <!-- -------------------------------  check user in mongo ------------------------------- -->

            <%if(err){%>
            <div id="id00" class="modalPop" style="display:block;">
                <form class="modal-content animate" action="login.html">
                    <div onclick="document.getElementById('id00').style.display='none'" class="closePop"
                        title="Close Modal">×</div>
                    <br>
                    <div class="containerPop">
                        <div class="row">
                            <div class="col-md-12 " style="margin-bottom: 5%; color: black;font-size: 22px;">
                                ไม่พบข้อมูลผู้ใช้ในระบบ
                            </div>
                        </div>
                        <div class="row " style="margin-top:4%;">
                            <div class="col-md-6 popAddRoom">
                                <!-- <a href="#"> -->
                                <a href="/reg/login">
                                    <button type="button" class="btn btn-success"
                                        style=" padding: 10px 32px 10px 32px  ;margin-top: 5px;">ตกลง</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <%}else{%>
            <div id="id00" class="modalPop" style="display:none;">
                <form class="modal-content animate" action="login.html">
                    <div onclick="document.getElementById('id00').style.display='none'" class="closePop"
                        title="Close Modal">×</div>
                    <br>
                    <div class="containerPop">
                        <div class="row">
                            <div class="col-md-12 " style="margin-bottom: 5%; color: black;font-size: 22px;">
                                ไม่พบข้อมูลผู้ใช้ในระบบ
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <%}%>


            <!-- -------------------------------  check user in mongo ------------------------------- -->

        </div>
    </div>


    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>